
textarea, input
  border 1px solid lightgrey
  color #333333
  padding 8px
  font-family "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif

input[type='text'],
input[type='password']
  width 100%

textarea
  width 100%
  min-height 200px