h1, h2, h3, h4, h5, h6
  font-family "News Cycle", "Arial Narrow Bold", Arial

a
  text-decoration none
  color #eb6864

  &:hover
    text-decoration underline

small
  font-weight normal

hr
  border none
  border-bottom 1px solid lightgrey

.text-center
  text-align center